<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.mapper.CourseTeacherMapper">

    <resultMap id="CourseTeacherResultMap" type="com.example.backend.model.CourseTeacher">
        <id property="courseTeacherId" column="course_teacher_id" />
        <result property="courseId" column="course_id" />
        <result property="teacherId" column="teacher_id" />
    </resultMap>

    <select id="findByCourseTeacherId" parameterType="long" resultMap="CourseTeacherResultMap">
        SELECT * FROM course_teachers WHERE course_teacher_id = #{courseTeacherId}
    </select>

    <select id="findByCourseId" parameterType="long" resultMap="CourseTeacherResultMap">
        SELECT * FROM course_teachers WHERE course_id = #{courseId}
    </select>

    <select id="findByTeacherId" parameterType="long" resultMap="CourseTeacherResultMap">
        SELECT * FROM course_teachers WHERE teacher_id = #{teacherId}
    </select>

    <insert id="insertCourseTeacher" parameterType="com.example.backend.model.CourseTeacher" useGeneratedKeys="true" keyProperty="courseTeacherId">
        INSERT INTO course_teachers (course_id, teacher_id)
        VALUES (#{courseId}, #{teacherId})
    </insert>

    <delete id="deleteCourseTeacher" parameterType="long">
        DELETE FROM course_teachers WHERE course_teacher_id = #{courseTeacherId}
    </delete>
    <delete id="deleteByCourseId" parameterType="long">
        DELETE FROM course_teachers WHERE course_id = #{courseId}
    </delete>
    <delete id="deleteByTeacherId" parameterType="long">
        DELETE FROM course_teachers WHERE teacher_id = #{teacherId}
    </delete>
</mapper>
