<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.mapper.ForumTopicMapper">

    <resultMap id="ForumTopicResultMap" type="com.example.backend.model.ForumTopic">
        <id property="topicId" column="topic_id" />
        <result property="majorId" column="major_id" />
        <result property="userId" column="user_id" />
        <result property="topicTitle" column="topic_title" />
        <result property="topicContent" column="topic_content" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <select id="findByTopicId" parameterType="long" resultMap="ForumTopicResultMap">
        SELECT * FROM forum_topics WHERE topic_id = #{topicId}
    </select>

    <select id="findByMajorId" parameterType="long" resultType="com.example.backend.model.ForumTopicDto">
        SELECT
            ft.topic_id topicId,
            ft.major_id majorId,
            ft.user_id userId,
            ft.topic_title topicTitle,
            ft.topic_content topicContent,
            ft.created_at createdAt,
            u.username,
            m.major_name as majorName
        FROM
            forum_topics AS ft
                LEFT JOIN users AS u ON ft.user_id = u.user_id
                LEFT JOIN majors AS m ON ft.major_id = m.major_id AND u.major_id = m.major_id
        WHERE
            ft.major_id =#{majorId}

    </select>

    <select id="findByUserId" parameterType="long" resultMap="ForumTopicResultMap">
        SELECT * FROM forum_topics WHERE user_id = #{userId}
    </select>

    <select id="findByTopicTitle" parameterType="string" resultMap="ForumTopicResultMap">
        SELECT * FROM forum_topics WHERE topic_title LIKE CONCAT('%', #{topicTitle}, '%')
    </select>

    <insert id="insertForumTopic" parameterType="com.example.backend.model.ForumTopic" useGeneratedKeys="true" keyProperty="topicId">
        INSERT INTO forum_topics (major_id, user_id, topic_title, topic_content, created_at)
        VALUES (#{majorId}, #{userId}, #{topicTitle}, #{topicContent}, #{createdAt})
    </insert>

    <update id="updateForumTopic" parameterType="com.example.backend.model.ForumTopic">
        UPDATE forum_topics
        SET major_id=#{majorId}, user_id=#{userId}, topic_title=#{topicTitle}, topic_content=#{topicContent}, created_at=#{createdAt}
        WHERE topic_id=#{topicId}
    </update>

    <delete id="deleteForumTopic" parameterType="long">
        DELETE FROM forum_topics WHERE topic_id = #{topicId}
    </delete>
    <delete id="deleteByUserId" parameterType="long">
        DELETE FROM forum_topics WHERE user_id = #{userId}
    </delete>
</mapper>
